
#scroll-to-new-tweet {
  /* display: none; */
  position: fixed;
  bottom: 0;
  right: 0;
}

#scroll-to-new-tweet i {
  font-size: 2.5em;
  cursor: pointer;
  margin: .25em;
  transition: transform 1s;
  background-color: whitesmoke;
  border-radius: 100%;
}

#scroll-to-new-tweet i:hover {
  transform: scale(1.1);
}