nav {
  height: 120px;
  width:100% ;
  background-color: #4056A1 ;
  transition: background-color 0.5s;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.5em 1em;
  position:  fixed;
  top: 0;
  left: 0;
}
.bungee {
  font-family: 'Bungee', sans-serif;
}

.red-icon {
  color: red;
}